
<nav>
  <ul>
  <li><a href="#resume">Resume</a></li>
  <li><a href="#portfolio">Portfolio</a></li>
    {% for page in site.social-media %}
            <li>
              {{ page.output }}
            </li>
          {% endfor %}
  </ul>
</nav>

<header class="site-header">


  <img src="/images/icon.jpg" class="circle center">
  <h1 class="name">Sevena Skeels</h1>
  <h2 class="tagline">Programmer, Semi-Designer &amp; Skyrim Adventurer</h2>
  <p class="about">Hi, my name is Sevena. I'm a senior majoring in Computer Science at UCF. I'm a web developer with a knack for the backend and a growing optimism for the frontend. If you want to see what I can do, check out my resume and portfolio below!</p>
</header>
