
<nav>
  <ul>
  <!-- <li><a href="#resume">Resume</a></li> -->
  <!-- <li><a href="#portfolio">Portfolio</a></li> -->
    {% for page in site.social-media reversed %}
            <li>
              {{ page.output }}
            </li>
          {% endfor %}
  </ul>
</nav>

<header class="site-header">


  <img src="/images/icon.jpg" class="circle center">
  <h1 class="name">Sevena Skeels</h1>
  <p class="about">Hi, my name is Sevena and I'm a Site Reliability Engineer at Google. As a Cloud SQL SRE, I help support a global fleet of managed databases on the Google Cloud Platform.</p>
</header>
