
<nav>
  <ul>
  <!-- <li><a href="#resume">Resume</a></li> -->
  <!-- <li><a href="#portfolio">Portfolio</a></li> -->
    {% for page in site.social-media reversed %}
            <li>
              {{ page.output }}
            </li>
          {% endfor %}
  </ul>
</nav>

<header class="site-header">


  <img src="/images/icon.jpg" class="circle center">
  <h1 class="name">Sevena Skeels</h1>
  <p class="about">Hi, my name is Sevena and I'm a recent Computer Science graduate. I enjoy writing applications that are useful to people. In particular, I enjoy automation and making otherwise annoying tasks easier, more intuitive, and more accessible for everyone. In my free time I like to hone my skills by solving problems (especially on HackerRank!) and looking for ways to make my code more elegant and effective.</p>
</header>
